.cases-container{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.card-container{
    width: 100%;
    height:max-content;
    margin: 0em;
    padding:0em;
    float: auto;
    text-align: center;
}
.card-container-ind{
    width: max-content;
    height: auto;
    padding: 0%;
    margin: 1em;
    display: inline-block;
    text-align: center;
}
.inner-bottom{
    width: 100%;
    height:max-content;
    margin-top: 10px;
    padding: 20px;
    border-radius: 5%;
}

.confirmed{
    background-color:#f0f0f0;
}
.recovered{
    background-color:#3E92CC;
}
.deaths{
    background-color:#960200;
}
.country-listing-container{
    width: 100%;
    margin-bottom: 1em;
}
.country-listing-container .select-country{
    width:80%;
    overflow: hidden;
}
.country-listing-container label{
    margin-right: 1em;
}
.number-foramt{
    background-color: none;
}